@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin center($top, $left) {
    position: absolute;
    top: $top;
    @if $left > 0 {
      left: $left;
    }
    transform: translate(-$left, -$top);
}

@mixin dots() {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
