@import "mixins";

$main-width: 960px;
$main-height: 540px;
$m-width: 1366px;
$m-height: 768px;
$b-width: 1920px;
$b-height: 1080px;
$place-height: 491px;
$img: "../img/round1/960x540/";
$img-main: "../img/";
$stuff-height: 85px;
$stuff-width: 68px;
$points-height: 93px;
$points-width: 138px;
$color-loader: #ce4233;

html {
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: url("#{$img-main}kursor-s.png"), pointer;

  * {
    box-sizing: border-box;
  }
}

body {
  background: #aacfee url("#{$img-main}bg.png") no-repeat center center;
  height: 100%;
  margin: 0;
  //min-height: 100%;
  //position: relative;
}

main {
  @extend %area-center;
}

.place {
  width: 100%;
  position: relative;
}

.points {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 70px;

  .point {
    background: url("#{$img-main}buzka-s.png") center no-repeat;
    height: 25px;
    width: 20%;
  }
}

.information {
  width: 100%;
}

@include layout($main-width, $main-height, $img, $place-height, $stuff-width, $stuff-height, $points-height, $points-width);

.things {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 70%;

  > div {
    position: absolute;

    &.stuff-1,
    &.stuff-3 {
      left: 7%;
    }

    &.stuff-2 {
      top: 25%;
    }

    &.stuff-3 {
      top: 55%;
    }

    &.stuff-4 {
      top: 80%;
    }

    &.stuff-5 {
      top: 15%;
      left: 35%;
    }

    &.stuff-6 {
      top: 44%;
      left: 50%;
    }

    &.stuff-7 {
      top: 63%;
      left: 35%;
    }

    &.stuff-8 {
      top: 5%;
      left: 70%;
    }

    &.stuff-9 {
      top: 30%;
      left: 70%;
    }

    &.stuff-10 {
      top: 76%;
      left: 70%;
    }
  }
}

.movie {
  height: 264px;
  width: 206px;
  position: absolute;
  bottom: 7px;
  left: 251px;
}

.improper-things {
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;
  right: 75%;
}

$stuffs-list: czekolada frytki lizak marchew pizza pomidor salata seler ser wafle;

@include stuff-loop($stuffs-list, 960x540);

.start {
    @extend %overlay;

    .btn-start {
      @extend %area-center;
      width: 312px;
      height: 95px;
      background-image: url("#{$img-main}start-s.png");
    }
}

.end {
  @extend %overlay;
  background-image: url("#{$img-main}pobierz-s.png");
  transition-delay: 4s;

  .close-end {
    background-image: url("#{$img-main}zamknij.png");
    width: 54px;
    height: 58px;
    position: absolute;
    top: 90px;
    right: 150px;
  }

  .repeat,
  .download,
  .summary {
    width: 150px;
    height: 92px;
    position: absolute;
    bottom: 92px;
    left: 207px;
    display: block;
  }

  .download {
    left: 595px;
  }

  .summary {
    width: 257px;
    bottom: 241px;
    left: 595px;
    display: flex;
    flex-wrap: wrap;

    .point {
      background: url("#{$img-main}buzka-end-s.png") no-repeat center;
      height: 37px;
      width: 20%;
    }
  }
}

.sms {
  @extend %area-center;
  background: url("#{$img-main}sms-s.png") no-repeat;
  height: 271px;
  width: 323px;

  .close-sms {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 12px;
  }

  input {
    top: 160px;
    left: 30px;
    height: 60px;
    width: 260px;
    background: transparent;
    border: 0;
    position: absolute;
    padding: 15px;
    color: #fff;
  }

  .send {
    height: 35px;
    width: 165px;
    bottom: 10px;
    left: 75px;
    position: absolute;
  }
}

@media (min-width: $m-width) and (min-height: $m-height) {
  $main-width: $m-width;
  $main-height: $m-height;
  $img: "../img/round1/1366x768/";
  $place-height: 699px;
  $stuff-height: 99px;
  $stuff-width: 71px;
  $points-height: 130px;
  $points-width: 196px;

  @include layout($main-width, $main-height, $img, $place-height, $stuff-width, $stuff-height, $points-height, $points-width);
  @include stuff-loop($stuffs-list, 1366x768);

  html {
    cursor: url("#{$img-main}kursor-m.png"), auto;
  }

  .points .point {
    background-image: url("#{$img-main}buzka-m.png");
    height: 35px;
  }

  .movie {
    height: 376px;
    width: 294px;
    left: 357px;
    bottom: 10px;
  }

  .start .btn-start {
      width: 458px;
      height: 140px;
      background-image: url("#{$img-main}start-m.png");
  }

  .end {
    background-image: url("#{$img-main}pobierz-m.png");

    .close-end {
      top: 130px;
      right: 200px;
    }

    .repeat,
    .download,
    .summary {
      width: 210px;
      height: 130px;
      bottom: 130px;
      left: 296px;
    }

    .download {
      left: 850px;
    }

    .summary {
      width: 355px;
      bottom: 350px;
      left: 850px;

      .point {
        background-image: url("#{$img-main}buzka-end-m.png");
        height: 52px;
      }
    }
  }

  .sms {
    background-image: url("#{$img-main}sms-m.png");
    height: 385px;
    width: 460px;

    .close-sms {
      width: 35px;
      height: 35px;
      top: 9px;
      right: 19px;
    }

    input {
      top: 227px;
      left: 40px;
      height: 83px;
      width: 369px;
    }

    .send {
      height: 47px;
      width: 230px;
      bottom: 15px;
      left: 107px;
    }
  }
}

@media (min-width: $b-width) and (min-height: $b-height) {
  $main-width:  $b-width;
  $main-height: $b-height;
  $img: "../img/round1/1920x1080/";
  $place-height: 980px;
  $stuff-height: 170px;
  $stuff-width: 135px;
  @include layout($main-width, $main-height, $img, $place-height, $stuff-width, $stuff-height, $points-height, $points-width);
  $points-height: 183px;
  $points-width: 276px;

  @include stuff-loop($stuffs-list, 1920x1080);

  html {
    cursor: url("#{$img-main}kursor-b.png"), auto;
  }

  .points .point {
    background-image: url("#{$img-main}buzka-b.png");
    height: 49px;
  }

  .movie {
    height: 528px;
    width: 412px;
    left: 502px;
    bottom: 12px;
  }

  .start .btn-start {
      width: 538px;
      height: 164px;
      background-image: url("#{$img-main}start-b.png");
  }

  .end {
    background-image: url("#{$img-main}pobierz-b.png");

    .close-end {
      top: 180px;
      right: 300px;
    }

    .repeat,
    .download,
    .summary {
      width: 295px;
      height: 180px;
      bottom: 184px;
      left: 416px;
    }

    .download {
      left: 1190px;
    }

    .summary {
        width: 510px;
        bottom: 480px;
        left: 1190px;

         .point {
            background-image: url("#{$img-main}buzka-end-b.png");
            height: 73px;
        }
     }
  }

  .sms {
    background-image: url("#{$img-main}sms-b.png");
    height: 534px;
    width: 638px;

    .close-sms {
      width: 50px;
      height: 50px;
      right: 25px;
    }

    input {
      top: 315px;
      left: 57px;
      height: 114px;
      width: 510px;
    }

    .send {
      height: 67px;
      width: 320px;
      bottom: 22px;
      left: 147px;
    }
  }
}

$c: #fff; $size: 100px; $ease: 1s ease-out;
#loader {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 0; height: 0; margin: auto;
  border-radius: 100%;
  box-shadow: inset 0 0 0 $size/2 $c;
  animation: load $ease infinite;
}
@keyframes load {
  100% { width: $size; height: $size; box-shadow: none; -webkit-filter: blur(2px); }
}
