.header h1.logo span {
  display: none;
}

.header h1.logo a,
.header.scrolled h1.logo a {
  display: block;
  width: 135px;
  height: 80px;
  padding: 0;
  background: url('../images/CWP_logo1.png') no-repeat;
  background-size: contain;
}

.why .item .title,
.pricing .item .price-figure .number,
.pricing .item .feature-list li .fa{
  color: #ec6952;
}

.pricing {
  background-color: #f5f5f5;
  padding-top: 80px;
}

.pricing .item.best-buy .content,
.pricing .item .content {
  padding-bottom: 0;
}

.pricing .title,
.contact-section .title {
  color: #000;
  margin-bottom: 80px;
}

.pricing .item .heading .title {
  font-weight: 700;
  text-transform: uppercase;
}

.pricing .item .feature-list li:last-of-type {
  border: 0;
}

textarea {
  resize: vertical;;
}

#contact .row {
  display: flex;
}

@media (min-width: 992px) {
  .contact-section {
    padding-top: 80px;
  }
}
