<main>
    <div class="place">
        <div class="points" id="points"></div>
        <div class="things">
            <div ng-repeat="item in things.all" id="thing-{{item.id}}" class="stuff-{{item.id}}" data-drag="true" jqyoui-draggable="{index: {{$index}},animate:true,onStart:'dragCallback(item)'}" data-jqyoui-options="{revert: 'invalid'}" ng-model="things.all"></div>
        </div>
        <div class="movie" id="movie" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'dropBabuCallback()'}" style="display:none;">
            <video id="videoIntro" poster="assets/img/mobile_poster.png" style="width: 100%; height:100%; display:none;">
                <!--  <source src="assets/video/960x540/Babu_kuchnia_intro_2.mp4" type="video/mp4" media="(max-width: 1080px) and (max-height: 768px)" > -->
                <source src="assets/video/1920x1080/Babu_kuchnia_intro.mp4" type="video/mp4">
            </video>
            <video id="videoBadChoice" poster="assets/img/mobile_poster.png" style="width: 100%; height:100%; display:none;" src="assets/video/1920x1080/Babu_kuchnia_zle.mp4">
            </video>
            <video id="videoGoodChoice" poster="assets/img/mobile_poster.png" style="width: 100%; height:100%; display: none; ">
                <source src="assets/video/1920x1080/Babu_kuchnia_dobrze.mp4" type="video/mp4">
            </video>
            <!--<video id="videoNeutral" poster="assets/img/mobile_poster.png"  style="width: 100%; height:100%; display: none; ">
                <source src="assets/video/1920x1080/Babu_neutral_1.mp4" type="video/mp4">
            </video>-->
        </div>
        <div class="improper-things" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'dropPlaceCallback()'}"></div>
    </div>
    <div class="start" id="startArea">
        <div class="btn-start" id="start_btn" ng-click="startRound = !startRound" ng-show="startRound"></div>
        <div id="loader" ng-show="!startRound">

</div>
    </div>
    <div class="information"></div>
    <div ng-class="endRound < 10 ? 'end hidden' : 'end'">
        <!--<div class="close-end"></div>-->
        <a href="#" class="repeat"></a>
        <div class="download" ng-click="showDetails = !showDetails"></div>
        <div class="summary" id="summary"></div>
        <div class="sms" ng-show="showDetails">
            <div class="close-sms" ng-click="showDetails = !showDetails"></div>
            <input type="text">
            <div class="send"></div>
        </div>
    </div>
</main>
