@charset "UTF-8";
@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url("../fonts/Pe-icon-7-stroke.eot?d7yf1v");
  src: url("../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v") format("embedded-opentype"), url("../fonts/Pe-icon-7-stroke.woff?d7yf1v") format("woff"), url("../fonts/Pe-icon-7-stroke.ttf?d7yf1v") format("truetype"), url("../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif; }
  body *,
  body *::before,
  body *::after {
    box-sizing: border-box; }
  body ul {
    margin: 0;
    padding: 0; }
  body li {
    list-style-type: none; }
  body a {
    text-decoration: none; }

.container {
  max-width: 100%;
  margin: 0 10px; }
  @media (min-width: 480px) {
    .container {
      margin: 0 20px; } }
  @media (min-width: 768px) {
    .container {
      width: 727px;
      margin: 0 auto; } }
  @media (min-width: 992px) {
    .container {
      width: 947px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1190px; } }
  .container header {
    font-size: 30px;
    padding: 30px 0; }

.section--dark {
  background-color: #1c252d; }

.section--light {
  background-color: #f9f9f9; }

.section--grey {
  background-color: #f0f0f0; }

.sectionHeader {
  text-transform: uppercase;
  line-height: 62px;
  height: 62px; }
  .sectionHeader::after {
    content: '';
    display: table;
    clear: both; }
  .sectionHeader__menu {
    display: none; }
    @media (min-width: 768px) {
      .sectionHeader__menu {
        display: block; } }
    .sectionHeader__menu li {
      float: left; }
      .sectionHeader__menu li a {
        color: #fff;
        padding-right: 20px; }
        .sectionHeader__menu li a:hover {
          color: #008dd2; }
  .sectionHeader__showMobileMenu {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 40px;
    line-height: 62px;
    color: #fff;
    cursor: pointer; }
    .sectionHeader__showMobileMenu::before {
      font-family: 'Pe-icon-7-stroke';
      content: ""; }
    @media (min-width: 768px) {
      .sectionHeader__showMobileMenu {
        display: none; } }
  .sectionHeader__login {
    color: #008dd2;
    float: right; }

.sectionMobileMenu {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  left: 0;
  text-align: center;
  -webkit-transition: background 500ms ease;
          transition: background 500ms ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }
  .sectionMobileMenu a, .sectionMobileMenu__close {
    text-transform: uppercase;
    display: block;
    opacity: 0;
    color: #fff;
    padding-right: 20px;
    min-height: 62px; }
    .sectionMobileMenu a:hover, .sectionMobileMenu__close:hover {
      color: #008dd2; }
  .sectionMobileMenu__close {
    right: 0;
    position: absolute;
    top: 20px;
    font-size: 40px;
    cursor: pointer; }
  .show-menu .sectionMobileMenu {
    background: rgba(14, 24, 50, 0.95);
    z-index: 1; }
    .show-menu .sectionMobileMenu__list {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .show-menu .sectionMobileMenu a,
    .show-menu .sectionMobileMenu .pe-7s-close {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }

.sectionCompany__logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
  position: relative;
  padding-left: 200px;
  display: inline-block;
  height: 80px;
  line-height: 80px; }
  .sectionCompany__logo::before {
    content: url("../img/EgzoTechLogo.png");
    position: absolute;
    left: 0;
    top: 15px; }

.sectionSentences {
  position: relative; }
  .sectionSentences__icon {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #008dd2;
    font-size: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .sectionSentences__icon::before {
      font-family: 'Pe-icon-7-stroke';
      content: ""; }
  .sectionSentences__slick {
    padding: 20px 0;
    color: #fff;
    font-weight: 200; }
    .sectionSentences__slick .slick-list {
      margin: 0 100px 0 70px; }
    .sectionSentences__slick__arrow {
      display: inline-block;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 50px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 50px; }
      .sectionSentences__slick__arrow::before {
        font-family: 'Pe-icon-7-stroke';
        content: ""; }
      .sectionSentences__slick__arrow:last-child {
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        right: 0; }
        .sectionSentences__slick__arrow:last-child::before {
          font-family: 'Pe-icon-7-stroke';
          content: ""; }

.sectionSearch__content {
  position: relative;
  height: 70px;
  margin-top: 20px;
  font-size: 30px; }
  .sectionSearch__content.active .sectionSearch__text {
    display: none; }
  .sectionSearch__content.active ~ .tagsList,
  .sectionSearch__content.active ~ .categoriesList {
    opacity: 1;
    max-height: 100%; }

.sectionSearch__text {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  line-height: 68px;
  bottom: 2px;
  z-index: 1; }
  .sectionSearch__text::after {
    font-family: 'Pe-icon-7-stroke';
    content: ""; }
  .sectionSearch__text::after {
    position: absolute;
    right: 0;
    font-size: 50px; }

.sectionSearch__input {
  font-family: 'Exo', sans-serif;
  color: #d2d3d5;
  padding: 0 100px 0 0;
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #1c252d;
  font-size: 30px;
  outline: none; }

.sectionSearch__closeIcon, .sectionSearch__searchIcon {
  position: absolute;
  right: 50px;
  font-size: 50px;
  bottom: 9px; }

.sectionSearch__closeIcon {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  right: 0; }
  .sectionSearch__closeIcon::before {
    font-family: 'Pe-icon-7-stroke';
    content: ""; }

.sectionSearch__searchIcon {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .sectionSearch__searchIcon::before {
    font-family: 'Pe-icon-7-stroke';
    content: ""; }

.tagsList,
.categoriesList {
  opacity: 0;
  max-height: 0;
  -webkit-transition: all .5s;
          transition: all .5s; }

.categoriesList__item {
  font-size: 30px;
  padding: 10px;
  cursor: pointer; }
  .categoriesList__item:hover {
    color: #008dd2; }

.tagsList__item {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 12px;
  margin: 0 5px 5px 0;
  font-size: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 6px 12px;
  border: 1px solid #d2d3d5; }

.sectionPhotos {
  padding: 40px 0;
  font-weight: 200; }
  .sectionPhotos__slick .slick-list {
    margin: 0 100px; }
  .sectionPhotos__slick__photo {
    max-width: 100%; }
  .sectionPhotos__slick__arrow {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 100px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px; }
    .sectionPhotos__slick__arrow::before {
      font-family: 'Pe-icon-7-stroke';
      content: ""; }
    .sectionPhotos__slick__arrow:last-child {
      display: inline-block;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      left: auto;
      right: 10px; }
      .sectionPhotos__slick__arrow:last-child::before {
        font-family: 'Pe-icon-7-stroke';
        content: ""; }

.sectionCategories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.sectionCategories__icon {
  font-size: 70px;
  -webkit-transition: scale 0.5s ease;
          transition: scale 0.5s ease; }

.sectionCategories__position {
  text-align: center;
  cursor: pointer;
  color: #1c252d;
  width: 100%;
  padding: 20px 0;
  -webkit-transition: scale 0.35s ease;
          transition: scale 0.35s ease;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  @media (min-width: 768px) {
    .sectionCategories__position {
      -ms-flex-preferred-size: calc(100% / 3);
          flex-basis: calc(100% / 3); } }
  @media (min-width: 992px) {
    .sectionCategories__position {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; } }
  .sectionCategories__position:hover {
    color: #008dd2; }
    .sectionCategories__position:hover .sectionCategories__icon {
      -webkit-transform: scale(0.95);
              transform: scale(0.95); }

.sectionManuals {
  padding-bottom: 30px; }
  .sectionManuals header {
    padding-right: 130px; }
  .sectionManuals__slick a {
    position: relative; }
    .sectionManuals__slick a:hover .sectionManuals__slick__photo {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .sectionManuals__slick a:hover .sectionManuals__slick__desc {
      background: rgba(28, 37, 45, 0.8); }
      .sectionManuals__slick a:hover .sectionManuals__slick__desc h2::after {
        width: 100%; }
  .sectionManuals__slick__photo {
    max-width: 100%;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .sectionManuals__slick__desc {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
    background: rgba(28, 37, 45, 0.3);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #fff; }
    .sectionManuals__slick__desc h2 {
      position: absolute;
      margin: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .sectionManuals__slick__desc h2::after {
        margin: 0 auto;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin-top: 10px;
        background-color: #008dd2;
        -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .sectionManuals__slick__arrow {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 70px;
    cursor: pointer;
    position: absolute;
    top: -83px;
    right: 60px; }
    .sectionManuals__slick__arrow::before {
      font-family: 'Pe-icon-7-stroke';
      content: ""; }
    .sectionManuals__slick__arrow:last-child {
      display: inline-block;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      left: auto;
      right: 0; }
      .sectionManuals__slick__arrow:last-child::before {
        font-family: 'Pe-icon-7-stroke';
        content: ""; }

.sectionUpdated {
  padding-bottom: 30px; }

.sectionCopyrights {
  font-size: 13px; }
