%area-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%overlay {
  @extend %hidden;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
  visibility: visible;
}

@mixin stuff-loop($stuffs-list, $breakpoint) {
  @each $stuff in $stuffs-list {
      $i: index($stuffs-list, $stuff);
        .stuff-#{$i} {
            background-image: url("../img/round1/#{$breakpoint}/ikony/#{$stuff}.png");
        }
  }
}

@mixin layout($main-width, $main-height, $img, $place-height, $stuff-width, $stuff-height, $points-height, $points-width) {
  html {
    min-width: $main-width;
    min-height: $main-height;
  }

  main {
    width: $main-width;
    height: $main-height;
  }

  .place {
    height: $place-height;
    background: url("#{$img}tlo.jpg") no-repeat;
  }

  .points {
    background: url("#{$img}punkty.jpg") no-repeat;
    width: $points-width;
    height: $points-height;
  }

  .information {
    height: $main-height - $place-height;
    background: url("#{$img}pasek.jpg") no-repeat;
  }

  .things > div {
    height: $stuff-height;
    width: $stuff-width;
  }
}

%hidden {
  transition: opacity 1s linear;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
