main, .start .btn-start, .sms {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.start, .end {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible; }

.start, .end {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear; }
  .hidden.start, .hidden.end {
    opacity: 0;
    visibility: hidden; }

html {
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: url("../img/kursor-s.png"), pointer; }
  html * {
    box-sizing: border-box; }

body {
  background: #aacfee url("../img/bg.png") no-repeat center center;
  height: 100%;
  margin: 0; }

.place {
  width: 100%;
  position: relative; }

.points {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 5px 70px; }
  .points .point {
    background: url("../img/buzka-s.png") center no-repeat;
    height: 25px;
    width: 20%; }

.information {
  width: 100%; }

html {
  min-width: 960px;
  min-height: 540px; }

main {
  width: 960px;
  height: 540px; }

.place {
  height: 491px;
  background: url("../img/round1/960x540/tlo.jpg") no-repeat; }

.points {
  background: url("../img/round1/960x540/punkty.jpg") no-repeat;
  width: 138px;
  height: 93px; }

.information {
  height: 49px;
  background: url("../img/round1/960x540/pasek.jpg") no-repeat; }

.things > div {
  height: 85px;
  width: 68px; }

.things {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 70%; }
  .things > div {
    position: absolute; }
    .things > div.stuff-1, .things > div.stuff-3 {
      left: 7%; }
    .things > div.stuff-2 {
      top: 25%; }
    .things > div.stuff-3 {
      top: 55%; }
    .things > div.stuff-4 {
      top: 80%; }
    .things > div.stuff-5 {
      top: 15%;
      left: 35%; }
    .things > div.stuff-6 {
      top: 44%;
      left: 50%; }
    .things > div.stuff-7 {
      top: 63%;
      left: 35%; }
    .things > div.stuff-8 {
      top: 5%;
      left: 70%; }
    .things > div.stuff-9 {
      top: 30%;
      left: 70%; }
    .things > div.stuff-10 {
      top: 76%;
      left: 70%; }

.movie {
  height: 264px;
  width: 206px;
  position: absolute;
  bottom: 7px;
  left: 251px; }

.improper-things {
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;
  right: 75%; }

.stuff-1 {
  background-image: url("../img/round1/960x540/ikony/czekolada.png"); }

.stuff-2 {
  background-image: url("../img/round1/960x540/ikony/frytki.png"); }

.stuff-3 {
  background-image: url("../img/round1/960x540/ikony/lizak.png"); }

.stuff-4 {
  background-image: url("../img/round1/960x540/ikony/marchew.png"); }

.stuff-5 {
  background-image: url("../img/round1/960x540/ikony/pizza.png"); }

.stuff-6 {
  background-image: url("../img/round1/960x540/ikony/pomidor.png"); }

.stuff-7 {
  background-image: url("../img/round1/960x540/ikony/salata.png"); }

.stuff-8 {
  background-image: url("../img/round1/960x540/ikony/seler.png"); }

.stuff-9 {
  background-image: url("../img/round1/960x540/ikony/ser.png"); }

.stuff-10 {
  background-image: url("../img/round1/960x540/ikony/wafle.png"); }

.start .btn-start {
  width: 312px;
  height: 95px;
  background-image: url("../img/start-s.png"); }

.end {
  background-image: url("../img/pobierz-s.png");
  -webkit-transition-delay: 4s;
          transition-delay: 4s; }
  .end .close-end {
    background-image: url("../img/zamknij.png");
    width: 54px;
    height: 58px;
    position: absolute;
    top: 90px;
    right: 150px; }
  .end .repeat,
  .end .download,
  .end .summary {
    width: 150px;
    height: 92px;
    position: absolute;
    bottom: 92px;
    left: 207px;
    display: block; }
  .end .download {
    left: 595px; }
  .end .summary {
    width: 257px;
    bottom: 241px;
    left: 595px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .end .summary .point {
      background: url("../img/buzka-end-s.png") no-repeat center;
      height: 37px;
      width: 20%; }

.sms {
  background: url("../img/sms-s.png") no-repeat;
  height: 271px;
  width: 323px; }
  .sms .close-sms {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 12px; }
  .sms input {
    top: 160px;
    left: 30px;
    height: 60px;
    width: 260px;
    background: transparent;
    border: 0;
    position: absolute;
    padding: 15px;
    color: #fff; }
  .sms .send {
    height: 35px;
    width: 165px;
    bottom: 10px;
    left: 75px;
    position: absolute; }

@media (min-width: 1366px) and (min-height: 768px) {
  html {
    min-width: 1366px;
    min-height: 768px; }
  main {
    width: 1366px;
    height: 768px; }
  .place {
    height: 699px;
    background: url("../img/round1/1366x768/tlo.jpg") no-repeat; }
  .points {
    background: url("../img/round1/1366x768/punkty.jpg") no-repeat;
    width: 196px;
    height: 130px; }
  .information {
    height: 69px;
    background: url("../img/round1/1366x768/pasek.jpg") no-repeat; }
  .things > div {
    height: 99px;
    width: 71px; }
  .stuff-1 {
    background-image: url("../img/round1/1366x768/ikony/czekolada.png"); }
  .stuff-2 {
    background-image: url("../img/round1/1366x768/ikony/frytki.png"); }
  .stuff-3 {
    background-image: url("../img/round1/1366x768/ikony/lizak.png"); }
  .stuff-4 {
    background-image: url("../img/round1/1366x768/ikony/marchew.png"); }
  .stuff-5 {
    background-image: url("../img/round1/1366x768/ikony/pizza.png"); }
  .stuff-6 {
    background-image: url("../img/round1/1366x768/ikony/pomidor.png"); }
  .stuff-7 {
    background-image: url("../img/round1/1366x768/ikony/salata.png"); }
  .stuff-8 {
    background-image: url("../img/round1/1366x768/ikony/seler.png"); }
  .stuff-9 {
    background-image: url("../img/round1/1366x768/ikony/ser.png"); }
  .stuff-10 {
    background-image: url("../img/round1/1366x768/ikony/wafle.png"); }
  html {
    cursor: url("../img/kursor-m.png"), auto; }
  .points .point {
    background-image: url("../img/buzka-m.png");
    height: 35px; }
  .movie {
    height: 376px;
    width: 294px;
    left: 357px;
    bottom: 10px; }
  .start .btn-start {
    width: 458px;
    height: 140px;
    background-image: url("../img/start-m.png"); }
  .end {
    background-image: url("../img/pobierz-m.png"); }
    .end .close-end {
      top: 130px;
      right: 200px; }
    .end .repeat,
    .end .download,
    .end .summary {
      width: 210px;
      height: 130px;
      bottom: 130px;
      left: 296px; }
    .end .download {
      left: 850px; }
    .end .summary {
      width: 355px;
      bottom: 350px;
      left: 850px; }
      .end .summary .point {
        background-image: url("../img/buzka-end-m.png");
        height: 52px; }
  .sms {
    background-image: url("../img/sms-m.png");
    height: 385px;
    width: 460px; }
    .sms .close-sms {
      width: 35px;
      height: 35px;
      top: 9px;
      right: 19px; }
    .sms input {
      top: 227px;
      left: 40px;
      height: 83px;
      width: 369px; }
    .sms .send {
      height: 47px;
      width: 230px;
      bottom: 15px;
      left: 107px; } }

@media (min-width: 1920px) and (min-height: 1080px) {
  html {
    min-width: 1920px;
    min-height: 1080px; }
  main {
    width: 1920px;
    height: 1080px; }
  .place {
    height: 980px;
    background: url("../img/round1/1920x1080/tlo.jpg") no-repeat; }
  .points {
    background: url("../img/round1/1920x1080/punkty.jpg") no-repeat;
    width: 138px;
    height: 93px; }
  .information {
    height: 100px;
    background: url("../img/round1/1920x1080/pasek.jpg") no-repeat; }
  .things > div {
    height: 170px;
    width: 135px; }
  .stuff-1 {
    background-image: url("../img/round1/1920x1080/ikony/czekolada.png"); }
  .stuff-2 {
    background-image: url("../img/round1/1920x1080/ikony/frytki.png"); }
  .stuff-3 {
    background-image: url("../img/round1/1920x1080/ikony/lizak.png"); }
  .stuff-4 {
    background-image: url("../img/round1/1920x1080/ikony/marchew.png"); }
  .stuff-5 {
    background-image: url("../img/round1/1920x1080/ikony/pizza.png"); }
  .stuff-6 {
    background-image: url("../img/round1/1920x1080/ikony/pomidor.png"); }
  .stuff-7 {
    background-image: url("../img/round1/1920x1080/ikony/salata.png"); }
  .stuff-8 {
    background-image: url("../img/round1/1920x1080/ikony/seler.png"); }
  .stuff-9 {
    background-image: url("../img/round1/1920x1080/ikony/ser.png"); }
  .stuff-10 {
    background-image: url("../img/round1/1920x1080/ikony/wafle.png"); }
  html {
    cursor: url("../img/kursor-b.png"), auto; }
  .points .point {
    background-image: url("../img/buzka-b.png");
    height: 49px; }
  .movie {
    height: 528px;
    width: 412px;
    left: 502px;
    bottom: 12px; }
  .start .btn-start {
    width: 538px;
    height: 164px;
    background-image: url("../img/start-b.png"); }
  .end {
    background-image: url("../img/pobierz-b.png"); }
    .end .close-end {
      top: 180px;
      right: 300px; }
    .end .repeat,
    .end .download,
    .end .summary {
      width: 295px;
      height: 180px;
      bottom: 184px;
      left: 416px; }
    .end .download {
      left: 1190px; }
    .end .summary {
      width: 510px;
      bottom: 480px;
      left: 1190px; }
      .end .summary .point {
        background-image: url("../img/buzka-end-b.png");
        height: 73px; }
  .sms {
    background-image: url("../img/sms-b.png");
    height: 534px;
    width: 638px; }
    .sms .close-sms {
      width: 50px;
      height: 50px;
      right: 25px; }
    .sms input {
      top: 315px;
      left: 57px;
      height: 114px;
      width: 510px; }
    .sms .send {
      height: 67px;
      width: 320px;
      bottom: 22px;
      left: 147px; } }

#loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  box-shadow: inset 0 0 0 50px #fff;
  -webkit-animation: load 1s ease-out infinite;
          animation: load 1s ease-out infinite; }

@-webkit-keyframes load {
  100% {
    width: 100px;
    height: 100px;
    box-shadow: none;
    -webkit-filter: blur(2px); } }

@keyframes load {
  100% {
    width: 100px;
    height: 100px;
    box-shadow: none;
    -webkit-filter: blur(2px); } }
